
/**
基本样式
 */
.b-r{
    border-right:1px dashed #c9c9c9;
}
.b-l{
    border-left:1px dashed #c9c9c9;
}
.l-pd{
    padding-left:0;
}
.r-pd{
    padding-right:0;
}
.lr-pd{
    padding-left:0;
    padding-right:0;
}
.l-mr{
    margin-left: 0;
}
.r-mr{
    margin-right: 0;
}
.lr-mr{
    margin-right: 0;
    margin-right:0;
}
.font-red{
    color:red;
}
/*多选框width重置*/
.tb-cb-w{
    width:24px;
}

.tb-ope-w{
    width:100px;
}

.height-middle{
    vertical-align: middle!important;
}

.tb-w-60{
    width:60px;
}
.tb-w-70{
    width:70px;
}
.tb-w-90{
    width:90px;
}
.tb-w-120{
    width:90px;
}
.tb-w-200{
    width:200px;
}
.tb-w-360{
    width:360px;
}
.tb-w-240{
    width:240px;
}
.tb-w-120{
    width:120px;
}
.tb-w-170{
    width:170px;
}
.table{
    font-size:14px;
}

.ofg-font-size-normal{
    font-size:14px;
}

.ofg-radius{
    background: #555;
    border-radius: 15%;
    /*border: 1px solid #555;*/
    padding:1px 3px 1px 3px;
    font-size: 95%;
    font-weight:600;
    color:#fff;
}

.font-size-default{
    font-size:100%;
}

.width-full{
    width:100%;
}

.margin-bottom{
    margin-bottom:10px;
}

/**
文件上传控件样式重构
 */
#file_name{
    height: 34px;
}
a.input {
    width:100%;
    height:34px;
    line-height:34px;
    background:#3091d1;
    text-align:center;
    display:inline-block;/*具有行内元素的视觉，块级元素的属性 宽高*/
    overflow:hidden;/*去掉的话，输入框也可以点击*/
    position:relative;/*相对定位，为 #file 的绝对定位准备*/
}
a.input:hover {
    background:#31b0d5;
    color: #ffffff;
}
a{
    text-decoration:none;
    color:#FFF;
}
#artImgId {
    opacity:0;/*设置此控件透明度为零，即完全透明*/
    filter:alpha(opacity=0);/*设置此控件透明度为零，即完全透明针对IE*/
    font-size:100px;
    position:absolute;/*绝对定位，相对于 .input */
    top:0;
    right:0;
}

.margin-left-normal{
    margin-left:1em;
}



.ofg-button{
    width:100%;
    height:36px;
    background: #fff;
/*    border:1px solid #d2d6de;*/
    padding:11px;
    cursor: pointer;
    color:#fff;
    transition: background 0.3s;
    background: #337ab7;
}
.ofg-button:active{
    background: #31b0d5;
}

.ofg-button:hover{
    background: #31b0d5;
}


.float-l{
    float:left;
}

@media screen and (max-width: 500px){
    .float-r{
        float:inherit!important;
    }
}

.float-r{
    float:right;
}

.select{
    display: inline-block;
    height:34px;
    border-radius:3px;
    font-size:13px;
    color:#555;
    padding:6px 12px 6px 12px;
}

.fadeInCon{
    display: none;
}


.table-link{
    color:#333;
    cursor: pointer;
}
.table-link:hover{
    text-shadow: 0 0 1px #e65100;
    color:#e65100;
    text-decoration:underline;
}

.font-weight{
    font-weight: bold;
}
.point{
    cursor: pointer;
}

.input-point{
    cursor: pointer;
    text-align: center;
}

.box-tools{
    display: inline-block;
    height:22px;
}

.search-group{
    width:auto;
    display: inline-block;
}

.box-control{
    width:100%;
    height:auto;
    display: inline-block;
}

.inputVal{
    width:100%;
    height:32px;
    position: relative;
    top:0px;
    left:0;
    background: #e8e8e8;
    border:1px solid #e2e2e2;
    padding:6px;
    text-align: center;
    color:#959595;
}

.input-box{
    height:auto;
    width:100%;
}
.input-box input{
    position: relative;
    top:0;
    left:0;
}

.border{
    border:1px solid #e8e8e8;
}

.round{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 45%;
    margin-right:5px;

}

.round0{
    background: #d33724;
}
.round1{
    animation: round1 1.5s alternate infinite;
}
@keyframes round1{
    from{background: #e8e8e8;}
    to{background: #f39c12;}
}
.round2{
    background: #00a65a;
}

.border0{
    border-color: #d33724;
}
.border1{
    animation: border1 1.5s alternate infinite;
}
@keyframes border1{
    from{border-color: #e8e8e8;}
    to{border-color: #f39c12;}
}
.border2{
    border-color: #00a65a;
}
.bor{
    display: inline-block;
    width:auto;
    height:auto;
    padding:3px;
    border-radius: 3px;
}
select option{
    padding-top:10px;
    padding-bottom:10px;
}