<div id="missionChart">
    <div class="charts swiper-container" id="phoneChar">
        <div class="swiper-wrapper" style="width:100%; height:100%;">
            <div id="chartB" class="swiper-slide"></div>
            <div id="chartSZ" class="swiper-slide"></div>
            <div id="toolBar"></div>
        </div>
        <div class="swiper-scrollbar" style="display: block!important;"></div>
    </div>
    <div class="controller">

    </div>
</div>
<script src="${ctxPath}/static/board/MissionCharts.js"></script>
