<div class="fadeInCon">
    <select name="selectValue" class="form-control select" id="selectValue" style="width:112px;
                                            float:left; border-right:none; border-radius: 3px 0 0 3px;" id="selectValue">
        <option style="display: none;" value="" class="fault"></option>
        <option value="0" data-control="input">未完成</option>
        <option value="1" data-control="input">进行中</option>
        <option value="2" data-control="input">已完成</option>
    </select>
    <div class="input-group-btn" style="display: table-header-group">
        <button type="submit" class="btn btn-default" style="padding-top:9px; padding-bottom:9px;" onclick="${searchObj}"><i class="fa fa-search"></i></button>
    </div>
</div>
<script>
    $('.fadeInCon').fadeIn("300");
</script>
