<div class="col-md-9 fadeInCon" id="listCon">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">类型列表</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="box-controls no-padding" style="margin-bottom:15px;">
                <button type="button" class="btn btn-default btn-header checkbox-toggle">
                    <i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group margin">
                    <button name="查看" class="btn btn-default btn-header" onclick="CmsRepairType.check()" space="true">
                        <i class="fa fa-fw fa-search"></i>
                    </button>
                    <button name="添加" class="btn btn-default btn-header" onclick="CmsRepairType.add()">
                        <i class="fa fa-fw fa-plus"></i>
                    </button>
                    <button name="修改" class="btn btn-default btn-header" onclick="CmsRepairType.edit()" space="true">
                        <i class="fa fa-fw fa-edit"></i>
                    </button>
                    <button name="删除" class="btn btn-danger btn-header" onclick="CmsRepairType.delete()" space="true">
                        <i class="fa fa-fw fa-trash-o"></i>
                    </button>
                </div>
                <div class="search-group margin-bottom float-r" id="faultUser-form" role="form" style="margin-top:10px;">
                    <div class="searchGroup_search">
                        <select name="selectKey" class="form-control select" id="selectKey" data-obj="CmsRepairType.search(this)" data-re="CmsRepairType.refreshTable()" onchange="select(this)">
                            <option style="display: none;" value="" class="fault">选择关键字</option>
                            <option value="custom_name" data-control="input">客户姓名</option>
                            <option value="family_name" data-control="input">客户姓氏</option>
                            <option value="sex" data-control="select">客户性别</option>
                            <option value="mob_phone" data-control="input">移动电话</option>
                            <option value="address" data-control="input">客户住址</option>
                            <option value="create_username" data-control="input">客户信息创建人</option>
                            <option value="create_time" data-control="input">创建时间</option>
                        </select>
                        <div class="box-tools" id="box-tools" style="width:50%; float: right;">
                            <!--Input content-->
                            <div class="input-group" style="width:100%;">
                                <input type="text" id="selectValue" name="selectValue" class="form-control pull-right" placeholder="Search" >
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-header" onclick="${searchObj!}"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-header" onclick="CmsRepairType.refreshTable()" style="float:right;"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="table-responsive data-table-list">
                <table id="data-list" class="table table-bordered table-hover">
                    <thead>
                    <tr clas="fs-n">
                        <th class="text-center">#</th>
                        <th class="text-center">类型名称</th>
                        <th class="text-center">详情描述</th>
                        <th class="text-center">排序</th>
                        <th class="text-center">图标样式</th>
                        <th class="text-center">节点类型</th>
                        <th class="text-center">修改时间</th>
                        <th class="text-center">创建人</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(var i = 0; i< results.resultList.~size; i++){
                    <tr id="data-r${i}" data-u="${results.resultList[i].id}">
                        <td class="tb-cb-w"><input type="checkbox"></td>
                        <td class="text-center">${results.resultList[i].typeName}</td>
                        <td class="tb-w-90 text-center">${results.resultList[i].typeDetails}</td>
                        <td class="text-center">${results.resultList[i].sort}</td>
                        <td class="text-center"><i class="${results.resultList[i].icon}"></i></td>
                        <td class="text-center">${results.resultList[i].type==0?'节点':'菜单'}</td>
                        <td>${results.resultList[i].modifyTime, "yyyy-MM-dd hh:mm:ss"}</td>
                        <td class="height-middle text-center tb-w-120 ofg-font-size-normal"><span class="label label-warning font-size-default">${results.resultList[i].createUsername}</span></td>
                        <td class="tb-w-120">
                            <button name="修改" class="btn btn-default btn-sm" onclick="CmsRepairType.checkOne(this)" space="true">
                                <i class="fa fa-fw fa-search"></i>
                            </button>
                            <button name="修改" class="btn btn-default btn-sm" onclick="CmsRepairType.editOne(this)" space="true">
                                <i class="fa fa-fw fa-edit"></i>
                            </button>
                            <button name="删除" class="btn btn-default btn-sm" onclick="CmsRepairType.deleteOne(this)" space="true">
                                <i class="fa fa-fw fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    @}
                    <tbody/>
                </table>
                <h3 style="width:100%; text-align: center; ">
                    <i class="${noData.icon!}"></i>&nbsp;${noData.text!}
                </h3>
            </div>
        </div>
        <!-- /.box-body -->
        <#PageTag action="${ctxPath}/cms/cmsrepairservicetype/${list}.html" totalNum="${results.totalNum}" perSize="10"
                curPage="${curPage!}" loadDataFunName="${method!}" searchValue="${searchValue!}"></#PageTag>

    </div>
    <!-- /.box -->
</div>
<script>
    data.buttonTips(data.getWindowSize());
    $(".fadeInCon").fadeIn("300");
</script>
