<style>
    #icon_choose{
        transition: border 0.3s;
    }
    #icon_choose:active{
        ;
    }
</style>
<div class="layer-content">
    <h4 id="msg" style="color: red;"></h4>
    <form id="formParams" class="m-t" role="form" method="post">
        <input type="hidden" name="id" class="form-control" value="${obj.id!}">
        <div class="form-group">
            <label>名称</label><label style="color: red;" id="msg-name"></label>
            <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="名称" required="">
        </div>
        <div class="form-group">
            <label>功能</label><label id="msg-function" style="color: red;"></label>
            <select class="form-control" name="actionId" id="ActionSelect">
                <option value="disabled selected" style="display: none;">${obj.actionId!}</option>
            </select>
        </div>
        <div class="form-group">
            <label>parentId</label><label id="msg-parentId" style="color: red;"></label>
            <select class="form-control" name="parentId" id="ActionSelectParent">
                <option value="disabled selected" style="display: none;">${obj.parentId!}</option>
            </select>
        </div>
        <div class="form-group">
            <label>类型</label><label id="msg-action" style="color: red;"></label>
            <select class="form-control" name="type">
                <option value="disabled selected" style="display: none;">${obj.type!}</option>
                <option value="0">button</option>
                <option value="1">menu</option>
            </select>
        </div>
        <div class="form-group">
            <label>排序</label><label id="msg-sort" style="color: red;"></label>
            <input type="text" name="sort" class="form-control" value="${obj.sort!}"/>
        </div>
        <div class="form-group">
            <label>图标</label><label id="msg-icon" style="color: red;"></label>
            <input class="form-control" id="icon_choose" name="icon" style="cursor: pointer" value="${obj.icon!}"/>
            @include(".././icons.html"){}
        </div>
        <div class="form-group">
            <label>备注</label><label id="msg-comments" style="color: red;"></label>
            <textarea name="comments" class="form-control" value="${obj.comments!}"placeholder="Enter ..."></textarea>
        </div>
    </form>
</div>
<script src="${ctxPath}/static/sysAuthActionTree/IconInput.js"></script>
<script>
    $(function () {
        AuthActionTree.getActionSelect();
        AuthActionTree.getActionSelectParent();
    });
</script>