<div>
    <h4 id="msg" style="color: red;"></h4>
    <form id="formParams" class="m-t" role="form" method="post">
        <input type="hidden" name="id" class="form-control" value="${obj.id!}">
        <div class="form-group">
            <label>名称</label><label style="color: red;" id="msg-name"></label>
            <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="名称" required="">
        </div>
        <div class="form-group">
            <label>url</label><label style="color: red;" id="msg-dicKey"></label>
            <input type="text" name="url" class="form-control" value="${obj.url!}" placeholder="请求路径" required="">
        </div>
        <div class="form-group">
            <label>类型</label><label id="msg-type" style="color: red;"></label>
            <select class="form-control" name="resourceType">
                <option value="disabled selected" style="display: none;">${obj.resourceType!}</option>
                <option value="menu">menu</option>
                <option value="button">button</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>父类id</label><label id="msg-path" style="color: red;"></label>
                <select class="form-control" id="ActionSelect">
                </select>
            </div>

        </div>

        <div class="form-group">
            <label>comments</label><label id="msg-comments" style="color: red;"></label>
            <textarea name="comments" class="form-control" value="${obj.comments!}"placeholder="Enter ..."></textarea>
        </div>
    </form>
</div>
<script src="${ctxPath}/static/sysAuthAction/AuthAction.js"></script>