@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        菜单管理
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<!-- Main content -->
<div id="data-list-content">
    @include("/SysAuthAction/listContent.html"){}
</div>
<script src="${ctxPath}/static/sysAuthAction/AuthAction.js"></script>
@}