<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header search_gp_head">
                    <div class="search_gp_title">
                    <h3 class="box-title search_gp_three">搜索：</h3>
                    </div>
                    <!-- /.search_gp_title-->
                    <button class="btn btn-box-tool search_gp_narrow" id="return" onclick="AuthAction.inputSlideUp(this)"><i class="fa fa-chevron-up"></i></button>
                    <div id="input" class="search_gp_div_input">
                        <input type="text" class="form-control search_gp_input_position fa fa-search" placeholder="搜索条件" onclick="AuthAction.inputSlideToggle(this)">
                        <div class="search_gp_search">
                        <i class="fa fa-search search_gp_i_position"></i>
                        </div>
                        <!-- /.search_gp_search-->
                    </div>
                    <!-- /.search_gp_div_input-->
                </div>
                <!-- /.box-header-->
                <div class="box-body search_gp_div_hide" id="search">
                    <div class="table-responsive">
                        <form class="form-horizontal">
                            <div class="search_gp_div_input_narrow">
                                <span class="search_gp_span_narrow">名称：</span>
                                <input type="text" class="form-control search_gp_input">
                            </div>
                            <div class="search_gp_div_input_narrow">
                                <span class="search_gp_span_narrow">url：</span>
                                <input type="text" class="form-control search_gp_input">
                            </div>
                            <div class="search_gp_div_input_small">
                                <span class="search_gp_span_small">种类：</span>
                                <select class="form-control search_gp_select">
                                    <option value="NONE">NONE</option>
                                    <option value="NONE">NONE</option>
                                    <option value="NONE">NONE</option>
                                    <option value="NONE">NONE</option>
                                </select>
                            </div>
                            <div class="search_gp_div_input_big">
                                <span class="search_gp_span_big">上级ID：</span>
                                <select class="form-control search_gp_select">
                                    <option value="NONE">内容管理_回复管理</option>
                                    <option value="NONE">维修业务流程管理_维修业务管理</option>
                                    <option value="NONE">维修业务流程管理_客户管理</option>
                                    <option value="NONE">维修业务流程管理_业务类型管理</option>
                                </select>
                            </div>
                            <div class="search_gp_div_button">
                            <button type="reset" id="resetBtn1" class="btn search_gp_btn_reset"><i class="fa  fa-fw fa-refresh"></i>重置</button>
                            <button type="submit" class="btn btn-warning btn-submit"><i class="fa fa-fw fa-search"></i>提交</button>
                            </div>
                            <!-- /.search_gp_div_button-->
                        </form>
                    </div>
                    <!-- /.table-responsive-->
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.box box-info-->
        </div>
        <!-- /.col-xs-12-->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">菜单管理列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="box-controls col-xs-10" style="margin-bottom:20px;">
                        <div class="">
                            <button type="button" class="btn btn-default btn-header checkbox-toggle">
                                <i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button name="添加" class="btn btn-default" onclick="AuthAction.add()">
                                    <i class="fa fa-fw fa-plus"></i>添加
                                </button>
                                <button name="修改" class="btn btn-default" onclick="AuthAction.edit()" space="true">
                                    <i class="fa fa-fw fa-edit"></i>修改
                                </button>
                                <button name="删除" class="btn btn-default" onclick="AuthAction.delete()" space="true">
                                    <i class="fa fa-fw fa-trash-o"></i>删除
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive data-table-list col-xs-12">
                        <div class="">
                            <table id="data-list" class="table table-bordered table-hover ">
                                <thead>
                                <tr>
                                    <!--<th>id</th>-->
                                    <th></th>
                                    <!--<th>password</th>-->
                                    <th>名称</th>
                                    <th>url</th>
                                    <th>种类</th>
                                    <th>上级Id</th>
                                    <th>备注</th>
                                    <th class="tb-w-90">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                @for(var i = 0; i< results.resultList.~size; i++){
                                <tr id="data-r${i}" data-u="${results.resultList[i].id}">
                                    <td><input type="checkbox"></td>
                                    <td>${results.resultList[i].name}</td>
                                    <td>${results.resultList[i].url}</td>
                                    <td>${results.resultList[i].resourceType}</td>
                                    <td>${results.resultList[i].parentId}</td>
                                    <td>${results.resultList[i].comments}</td>
                                    <td>
                                        <button name="修改" class="btn btn-default btn-sm" onclick="AuthAction.editOne(this)" space="true">
                                            <i class="fa fa-fw fa-edit"></i>
                                        </button>
                                        <button name="删除" class="btn btn-default btn-sm" onclick="AuthAction.deleteOne(this)" space="true">
                                            <i class="fa fa-fw fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                                @}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--<#PageTag action="${ctxPath}/auth/sysauthaction/list.html" totalNum="${results.totalNum}" perSize="5" curPage="${curPage}"></#PageTag>-->
                <#PageTag action="${ctxPath}/auth/sysauthaction/${list!}.html" totalNum="${results.totalNum!}" perSize="5"
                curPage="${curPage!}" loadDataFunName="${method!}" searchValue="${searchValue!}"></#PageTag>

            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->

</section>