<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>SilverBullet - 登录</title>

    <script src="${ctxPath}/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="${ctxPath}/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/silverbullet/css/signin.css">
    <!--animate-->
    <link rel="stylesheet" href="${ctxPath}/static/silverbullet/css/animate.min.css">


</head>

<body class="text-center" style="overflow: hidden;">
<form class="form-signin" action="${ctxPath}/login" method="post" id="form" onsubmit="return encryptData();">
    <div class="loginTitle">
        <span class="title">欢迎使用Silver Bullet</span>
    </div>
    <div class="loginCon">
        <img class="loginImage" src="${ctxPath}/static/adminlte/dist/img/user2-160x160.jpg"></img>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="用户名" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" required>
        <div style="width:100%">
            <div class="custom-control custom-checkbox" style="display: inline-block; width:auto;">
                <input type="checkbox" name="remember" class="custom-control-input " value="remember-me" id="remember">
                <label class="custom-control-label" for="remember">记住我</label>
            </div>
            <h1 class="h5 mb-3 font-weight-normal text-danger">${message!}</h1>
        </div>
        <button class="btn btn-lg btn-info btn-block" type="submit" >登录</button>
    </div>
</form>

@include("/fragments/footer.html"){}

<script src="${ctxPath}/static/jquery/jquery-1.9.1.min.js"></script>
<script src="${ctxPath}/static/silverbullet/amain.js"></script>
<script src="${ctxPath}/static/silverbullet/jsencrypt.min.js"></script>
<script>
    $("#form").children().hide();
    $("#form").addClass("animated bounceInUp");
        $("#form").children().each(function(k,v){
                $(v).delay("slow").fadeIn(500);
        });

    function encryptData() {

        //实例化加密对象
        var encrypt = new JSEncrypt();
        //设置加密公钥
        encrypt.setPublicKey(g_rsa_pubkey);

        var loginForm = document.forms[0];

        loginForm.username.value = encrypt.encrypt(loginForm.username.value);
        loginForm.password.value = encrypt.encrypt(loginForm.password.value);
        loginForm.remember.value = encrypt.encrypt(loginForm.remember.value);

        return true;
    }
    
   /* function login() {
        //实例化加密对象
        var encrypt = new JSEncrypt();
        //设置加密公钥
        encrypt.setPublicKey(g_rsa_pubkey);

        var username = encrypt.encrypt($("#inputEmail").val());
        var password = encrypt.encrypt($("#inputPassword").val());
        var remember = encrypt.encrypt($("#remember").val());

        console.log(username);
        console.log(password);
        console.log(remember);

        $.ajax({
                url:"${ctxPath}/login",
                type:"post",
                headers: {"encode-method-name":"rsa"},
                data:{username:username, password: password, remember: remember},
                success:function(data){
                    console.log(data);
                },
                error:function(e){
                    alert("错误！！");
                }
          });
    }*/

</script>
</body>
</html>
