<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silverbullet.ztest.dao.SysTestMapper">
  <resultMap id="BaseResultMap" type="com.silverbullet.ztest.domain.SysTest">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="my_name" jdbcType="VARCHAR" property="myName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="c_int" jdbcType="INTEGER" property="cInt" />
    <result column="c_length" jdbcType="VARCHAR" property="cLength" />
    <result column="commen" jdbcType="VARCHAR" property="commen" />
    <result column="del_sign" jdbcType="CHAR" property="delSign" />
  </resultMap>

  <sql id="Base_Column_List">
    id,my_name,create_time,c_int,c_length,commen,del_sign
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from test
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.silverbullet.ztest.domain.SysTest">
    insert into test (id,my_name,create_time,c_int,c_length,commen,del_sign)
    values (#{id,jdbcType=VARCHAR},#{myName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{cInt,jdbcType=INTEGER},#{cLength,jdbcType=VARCHAR},#{commen,jdbcType=VARCHAR},#{delSign,jdbcType=CHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.silverbullet.ztest.domain.SysTest">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
               id ,
        </if>
        <if test="myName != null">
               my_name ,
        </if>
        <if test="createTime != null">
               create_time ,
        </if>
        <if test="cInt != null">
               c_int ,
        </if>
        <if test="cLength != null">
               c_length ,
        </if>
        <if test="commen != null">
               commen ,
        </if>
        <if test="delSign != null">
               del_sign ,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=VARCHAR},
         </if>
        <if test="myName != null">
            #{myName,jdbcType=VARCHAR},
         </if>
        <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
         </if>
        <if test="cInt != null">
            #{cInt,jdbcType=INTEGER},
         </if>
        <if test="cLength != null">
            #{cLength,jdbcType=VARCHAR},
         </if>
        <if test="commen != null">
            #{commen,jdbcType=VARCHAR},
         </if>
        <if test="delSign != null">
            #{delSign,jdbcType=CHAR},
         </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.silverbullet.ztest.domain.SysTest">
    update test
    <set>
        <if test="id != null">
         id = #{id,jdbcType=VARCHAR},
        </if>
        <if test="myName != null">
         id = #{myName,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
         id = #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="cInt != null">
         id = #{cInt,jdbcType=INTEGER},
        </if>
        <if test="cLength != null">
         id = #{cLength,jdbcType=VARCHAR},
        </if>
        <if test="commen != null">
         id = #{commen,jdbcType=VARCHAR},
        </if>
        <if test="delSign != null">
         id = #{delSign,jdbcType=CHAR},
        </if>
    </set>
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.silverbullet.ztest.domain.SysTest">

    update test
    set id = #{id,jdbcType=VARCHAR},my_name = #{myName,jdbcType=VARCHAR},create_time = #{createTime,jdbcType=TIMESTAMP},c_int = #{cInt,jdbcType=INTEGER},c_length = #{cLength,jdbcType=VARCHAR},commen = #{commen,jdbcType=VARCHAR},del_sign = #{delSign,jdbcType=CHAR}
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test
  </select>

  <select id="countNum" resultType="Integer">
    select count(*) from test
  </select>

</mapper>