<div class="layer-content">
    <h4 id="msg" style="color: red;"></h4>
    <form id="formCms" class="m-t" role="form" method="post">
        <input type="hidden" name="id" class="form-control" value="${obj.id!}">
        <input type="hidden" name="moduleFilterKey" class="form-control" value="${obj.moduleFilterKey!}" placeholder="moduleFilterKey" required="">
        <input type="hidden" name="artType" class="form-control" value="1">
        <div class="form-group">
             <label>title</label><label style="color: red;" id="msg-title"></label>
             <input type="text" name="title" class="form-control" value="${obj.title!}" placeholder="title" required="">
        </div>
        <div class="form-group">
             <label>abs</label><label style="color: red;" id="msg-abs"></label>
             <input type="text" name="abs" class="form-control" value="${obj.abs!}" placeholder="abs" required="">
        </div>
        <div class="form-group">
            <label>contHtml</label><label style="color: red;" id="msg-content"></label>
            <input type="text" name="contHtml" class="form-control" value="${obj.contHtml!}" placeholder="contHtml" required="">
        </div>
        <div class="form-group">
             <label>tagkey</label><label style="color: red;" id="msg-tagkey"></label>
             <input type="text" name="tagkey" class="form-control" value="${obj.tagkey!}" placeholder="tagkey" required="">
        </div>
        <div class="form-group">
             <label>source</label><label style="color: red;" id="msg-source"></label>
             <input type="text" name="source" class="form-control" value="${obj.source!}" placeholder="source" required="">
        </div>
        <div class="form-group">
             <label>topLevel</label><label style="color: red;" id="msg-topLevel"></label>
             <input type="text" name="topLevel" class="form-control" value="${obj.topLevel!}" placeholder="topLevel" required="">
        </div>
        <div class="form-group">
             <label>artImgId</label><label style="color: red;" id="msg-artImgId"></label>
             <input type="text" name="artImgId" class="form-control" value="${obj.artImgId!}" placeholder="artImgId" required="">
        </div>
        <div class="form-group">
             <label>artState</label><label style="color: red;" id="msg-artState"></label>
             <input type="text" name="artState" class="form-control" value="${obj.artState!}" placeholder="artState" required="">
        </div>
        <div class="form-group">
             <label>writeAuthority</label><label style="color: red;" id="msg-writeAuthority"></label>
             <input type="text" name="writeAuthority" class="form-control" value="${obj.writeAuthority!}" placeholder="writeAuthority" required="">
        </div>
        <div class="form-group">
             <label>readAuthority</label><label style="color: red;" id="msg-readAuthority"></label>
             <input type="text" name="readAuthority" class="form-control" value="${obj.readAuthority!}" placeholder="readAuthority" required="">
        </div>
    </form>
</div>