<div>
    <h4 id="msg" style="color: red;"></h4>
    <form id="formSpecialcloudstore" class="m-t" role="form" method="post">
              <input type="hidden" name="id" class="form-control" value="${obj.id!}">
             <div class="form-group">
                 <label>version</label><label style="color: red;" id="msg-version"></label>
                 <input type="text" name="version" class="form-control" value="${obj.version!}" placeholder="version" required="">
             </div>
             <div class="form-group">
                 <label>author</label><label style="color: red;" id="msg-author"></label>
                 <input type="text" name="author" class="form-control" value="${obj.author!}" placeholder="author" required="">
             </div>
             <div class="form-group">
                 <label>bitstoreType</label><label style="color: red;" id="msg-bitstoreType"></label>
                 <input type="text" name="bitstoreType" class="form-control" value="${obj.bitstoreType!}" placeholder="bitstoreType" required="">
             </div>
             <div class="form-group">
                 <label>createDate</label><label style="color: red;" id="msg-createDate"></label>
                 <input type="text" name="createDate" class="form-control" value="${obj.createDate!}" placeholder="createDate" required="">
             </div>
             <div class="form-group">
                 <label>delType</label><label style="color: red;" id="msg-delType"></label>
                 <input type="text" name="delType" class="form-control" value="${obj.delType!}" placeholder="delType" required="">
             </div>
             <div class="form-group">
                 <label>fieldtype</label><label style="color: red;" id="msg-fieldtype"></label>
                 <input type="text" name="fieldtype" class="form-control" value="${obj.fieldtype!}" placeholder="fieldtype" required="">
             </div>
             <div class="form-group">
                 <label>name</label><label style="color: red;" id="msg-name"></label>
                 <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="name" required="">
             </div>
             <div class="form-group">
                 <label>no</label><label style="color: red;" id="msg-no"></label>
                 <input type="text" name="no" class="form-control" value="${obj.no!}" placeholder="no" required="">
             </div>
             <div class="form-group">
                 <label>status</label><label style="color: red;" id="msg-status"></label>
                 <input type="text" name="status" class="form-control" value="${obj.status!}" placeholder="status" required="">
             </div>
             <div class="form-group">
                 <label>updateDate</label><label style="color: red;" id="msg-updateDate"></label>
                 <input type="text" name="updateDate" class="form-control" value="${obj.updateDate!}" placeholder="updateDate" required="">
             </div>
             <div class="form-group">
                 <label>updator</label><label style="color: red;" id="msg-updator"></label>
                 <input type="text" name="updator" class="form-control" value="${obj.updator!}" placeholder="updator" required="">
             </div>
             <div class="form-group">
                 <label>fieldmapping</label><label style="color: red;" id="msg-fieldmapping"></label>
                 <input type="text" name="fieldmapping" class="form-control" value="${obj.fieldmapping!}" placeholder="fieldmapping" required="">
             </div>
    </form>
</div>