<div class="row">
    <div class="col-xs-12">
        <form id="formCmsFSStatus">
            <input type="hidden" name="id" class="form-control" value="${obj.id!}">
            <select name="status" class="form-control select" id="selectValue" style="width:100%;
                                            float:left; border-radius: 3px;">
                <option style="display: none;" value="${obj.status}">${obj.status == 0?"未开始":obj.status == 1?"进行中":"已完成"}</option>
                <option value="0" data-control="input">未完成</option>
                <option value="1" data-control="input">进行中</option>
                <option value="2" data-control="input">已完成</option>
            </select>
        </form>
    </div>
</div>