<div class="row">
    <div class="col-xs-12">
        <h4 id="msg" style="color: red;"></h4>
        <form id="formCmsRepairFaultService" class="m-t" role="form" method="post">
            <input type="hidden" name="id" class="form-control" value="${obj.id!}">
            <div class="form-group" style="margin-bottom:30px;">
                <label>客户名称：<span class="font-red">*</span></label><label style="color: red;" id="msg-repairFaultId"></label>
                <div class="input-box">
                    <div class="inputVal customNameValue">请在下方列表中选择客户</div>
                </div>
            </div>
        </form>
        <div id="userModelList">
            @include("/CmsRepairFaultService/modelList/userModelList.html"){}
        </div>
    </div>
</div>
<script src="${ctxPath}/static/silverbullet/js/cms/CmsRepair/CmsRepairUser.js"></script>