<style type="text/css">
    .box-controls {
        padding: 5px;
    }
    .btn-header {
        height: 34px;
    }
</style>
@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        字典类
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Silver Bullet</a></li>
        <li><a href="#"><i class="fa fa-files-o"></i>系统管理</a></li>
        <li class="active"><a href=""><i class="fa fa-circle-o"></i>字典管理</a></li>
    </ol>
</section>

<div id="data-list-content">
    @include("/SysParamsDictionary/listContent.html"){}
</div>

<script src="${ctxPath}/static/silverbullet/js/silverbullet-params.js"></script>
@}