<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silverbullet.params.dao.SysParamsDictionaryItemMapper">
  <resultMap id="BaseResultMap" type="com.silverbullet.params.domain.SysParamsDictionaryItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dic_key_id" jdbcType="VARCHAR" property="dicKeyId" />
    <result column="item_key" jdbcType="VARCHAR" property="itemKey" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_username" jdbcType="VARCHAR" property="createUsername" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="modify_username" jdbcType="VARCHAR" property="modifyUsername" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>

  <sql id="Base_Column_List">
    id,name,dic_key_id,item_key,item_value,sort,parent_id,path,comments,create_time,modify_time,create_username,create_user,modify_username,modify_user,state
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_params_dictionary_item
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_params_dictionary_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.silverbullet.params.domain.SysParamsDictionaryItem">
    insert into sys_params_dictionary_item (id,name,dic_key_id,item_key,item_value,sort,parent_id,path,comments,create_time,modify_time,create_username,create_user,modify_username,modify_user,state)
    values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{dicKeyId,jdbcType=VARCHAR},#{itemKey,jdbcType=VARCHAR},#{itemValue,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER},#{parentId,jdbcType=VARCHAR},#{path,jdbcType=VARCHAR},#{comments,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{modifyTime,jdbcType=TIMESTAMP},#{createUsername,jdbcType=VARCHAR},#{createUser,jdbcType=VARCHAR},#{modifyUsername,jdbcType=VARCHAR},#{modifyUser,jdbcType=VARCHAR},#{state,jdbcType=CHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.silverbullet.params.domain.SysParamsDictionaryItem">
    insert into sys_params_dictionary_item
    <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
               id ,
        </if>
        <if test="name != null">
               name ,
        </if>
        <if test="dicKeyId != null">
               dic_key_id ,
        </if>
        <if test="itemKey != null">
               item_key ,
        </if>
        <if test="itemValue != null">
               item_value ,
        </if>
        <if test="sort != null">
               sort ,
        </if>
        <if test="parentId != null">
               parent_id ,
        </if>
        <if test="path != null">
               path ,
        </if>
        <if test="comments != null">
               comments ,
        </if>
        <if test="createTime != null">
               create_time ,
        </if>
        <if test="modifyTime != null">
               modify_time ,
        </if>
        <if test="createUsername != null">
               create_username ,
        </if>
        <if test="createUser != null">
               create_user ,
        </if>
        <if test="modifyUsername != null">
               modify_username ,
        </if>
        <if test="modifyUser != null">
               modify_user ,
        </if>
        <if test="state != null">
               state ,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=VARCHAR},
         </if>
        <if test="name != null">
            #{name,jdbcType=VARCHAR},
         </if>
        <if test="dicKeyId != null">
            #{dicKeyId,jdbcType=VARCHAR},
         </if>
        <if test="itemKey != null">
            #{itemKey,jdbcType=VARCHAR},
         </if>
        <if test="itemValue != null">
            #{itemValue,jdbcType=VARCHAR},
         </if>
        <if test="sort != null">
            #{sort,jdbcType=INTEGER},
         </if>
        <if test="parentId != null">
            #{parentId,jdbcType=VARCHAR},
         </if>
        <if test="path != null">
            #{path,jdbcType=VARCHAR},
         </if>
        <if test="comments != null">
            #{comments,jdbcType=VARCHAR},
         </if>
        <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
         </if>
        <if test="modifyTime != null">
            #{modifyTime,jdbcType=TIMESTAMP},
         </if>
        <if test="createUsername != null">
            #{createUsername,jdbcType=VARCHAR},
         </if>
        <if test="createUser != null">
            #{createUser,jdbcType=VARCHAR},
         </if>
        <if test="modifyUsername != null">
            #{modifyUsername,jdbcType=VARCHAR},
         </if>
        <if test="modifyUser != null">
            #{modifyUser,jdbcType=VARCHAR},
         </if>
        <if test="state != null">
            #{state,jdbcType=CHAR},
         </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.silverbullet.params.domain.SysParamsDictionaryItem">
    update sys_params_dictionary_item
    <set>
        <if test="id != null">
         id = #{id,jdbcType=VARCHAR},
        </if>
        <if test="name != null">
         id = #{name,jdbcType=VARCHAR},
        </if>
        <if test="dicKeyId != null">
         id = #{dicKeyId,jdbcType=VARCHAR},
        </if>
        <if test="itemKey != null">
         id = #{itemKey,jdbcType=VARCHAR},
        </if>
        <if test="itemValue != null">
         id = #{itemValue,jdbcType=VARCHAR},
        </if>
        <if test="sort != null">
         id = #{sort,jdbcType=INTEGER},
        </if>
        <if test="parentId != null">
         id = #{parentId,jdbcType=VARCHAR},
        </if>
        <if test="path != null">
         id = #{path,jdbcType=VARCHAR},
        </if>
        <if test="comments != null">
         id = #{comments,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
         id = #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="modifyTime != null">
         id = #{modifyTime,jdbcType=TIMESTAMP},
        </if>
        <if test="createUsername != null">
         id = #{createUsername,jdbcType=VARCHAR},
        </if>
        <if test="createUser != null">
         id = #{createUser,jdbcType=VARCHAR},
        </if>
        <if test="modifyUsername != null">
         id = #{modifyUsername,jdbcType=VARCHAR},
        </if>
        <if test="modifyUser != null">
         id = #{modifyUser,jdbcType=VARCHAR},
        </if>
        <if test="state != null">
         id = #{state,jdbcType=CHAR},
        </if>
    </set>
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.silverbullet.params.domain.SysParamsDictionaryItem">

    update sys_params_dictionary_item
    set id = #{id,jdbcType=VARCHAR},name = #{name,jdbcType=VARCHAR},dic_key_id = #{dicKeyId,jdbcType=VARCHAR},item_key = #{itemKey,jdbcType=VARCHAR},item_value = #{itemValue,jdbcType=VARCHAR},sort = #{sort,jdbcType=INTEGER},parent_id = #{parentId,jdbcType=VARCHAR},path = #{path,jdbcType=VARCHAR},comments = #{comments,jdbcType=VARCHAR},create_time = #{createTime,jdbcType=TIMESTAMP},modify_time = #{modifyTime,jdbcType=TIMESTAMP},create_username = #{createUsername,jdbcType=VARCHAR},create_user = #{createUser,jdbcType=VARCHAR},modify_username = #{modifyUsername,jdbcType=VARCHAR},modify_user = #{modifyUser,jdbcType=VARCHAR},state = #{state,jdbcType=CHAR}
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_params_dictionary_item
  </select>

  <select id="countNum" resultType="Integer">
    select count(*) from sys_params_dictionary_item
  </select>

    <select id="findListByDictKeyId" parameterType="String" resultMap="BaseResultMap">
       select
       <include refid="Base_Column_List"/>
        from sys_params_dictionary_item where dic_key_id = #{dictKeyId} and state = '0'
    </select>

    <select id="countNumByDictKeyId" parameterType="String" resultType="Integer">
        select count(*) from sys_params_dictionary_item where dic_key_id = #{dictKeyId} and state = '0'
    </select>

</mapper>