<div class="row">
    <div class="col-xs-12">
        <h4 id="msg" style="color: red"></h4>
        <form id="formParams">
            <input type="hidden" id="UserId" name="UserId" value="${userId!}">
            <div class="organizationview">

                <div class="form-group">
                    <label>隶属部门</label><label style="color: red;" id="msg-OrganizationId"></label>
                    <select name="OrganizationId" id="actionTreeName" class="form-control"
                            onchange="AuthUser.setOptionAction(this)">
                        <option value="${OrganizationId!}" style="display: none;">${OrganizationName ==
                            ""?"请选择部门":OrganizationName}
                        </option>
                        @for(var i = 0; i< org.~size; i++){
                        <option value="${org[i].id!}">${org[i].name!}</option>
                        @}
                    </select>
                </div>
                <div class="form-group">
                    <label>所在岗位</label><label style="color: red;" id="msg-postId"></label>
                    <select name="postId" id="postName" class="form-control">
                        <option value="${postId!}" style="display:none;">${postName == ""?"请选择岗位":postName}</option>
                        <option value="${postId!}">${postName!}</option>
                        <!--<option value="${post[0].postId!}" selected="selected">${post[0].postName!}</option>-->
                    </select>
                </div>

            </div>
        </form>
    </div>
</div>
