<div>
    <h4 id="msg" style="color: red;"></h4>
    <form id="formAuth" class="m-t" role="form" method="post">
              <input type="hidden" name="id" class="form-control" value="${obj.id!}">
             <div class="form-group">
                 <label>name</label><label style="color: red;" id="msg-name"></label>
                 <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="name" required="">
             </div>
             <div class="form-group">
                 <label>password</label><label style="color: red;" id="msg-password"></label>
                 <input type="text" name="password" class="form-control" value="${obj.password!}" placeholder="password" required="">
             </div>
             <div class="form-group">
                 <label>salt</label><label style="color: red;" id="msg-salt"></label>
                 <input type="text" name="salt" class="form-control" value="${obj.salt!}" placeholder="salt" required="">
             </div>
             <div class="form-group">
                 <label>comments</label><label style="color: red;" id="msg-comments"></label>
                 <input type="text" name="comments" class="form-control" value="${obj.comments!}" placeholder="comments" required="">
             </div>
             <div class="form-group">
                 <label>userType</label><label style="color: red;" id="msg-userType"></label>
                 <input type="text" name="userType" class="form-control" value="${obj.userType!}" placeholder="userType" required="">
             </div>
             <div class="form-group">
                 <label>createUser</label><label style="color: red;" id="msg-createUser"></label>
                 <input type="text" name="createUser" class="form-control" value="${obj.createUser!}" placeholder="createUser" required="">
             </div>
             <div class="form-group">
                 <label>createTime</label><label style="color: red;" id="msg-createTime"></label>
                 <input type="text" name="createTime" class="form-control" value="${obj.createTime!}" placeholder="createTime" required="">
             </div>
             <div class="form-group">
                 <label>modifyUser</label><label style="color: red;" id="msg-modifyUser"></label>
                 <input type="text" name="modifyUser" class="form-control" value="${obj.modifyUser!}" placeholder="modifyUser" required="">
             </div>
             <div class="form-group">
                 <label>modifyTime</label><label style="color: red;" id="msg-modifyTime"></label>
                 <input type="text" name="modifyTime" class="form-control" value="${obj.modifyTime!}" placeholder="modifyTime" required="">
             </div>
             <div class="form-group">
                 <label>state</label><label style="color: red;" id="msg-state"></label>
                 <input type="text" name="state" class="form-control" value="${obj.state!}" placeholder="state" required="">
             </div>
             <div class="form-group">
                 <label>username</label><label style="color: red;" id="msg-username"></label>
                 <input type="text" name="username" class="form-control" value="${obj.username!}" placeholder="username" required="">
             </div>
             <div class="form-group">
                 <label>loginTime</label><label style="color: red;" id="msg-loginTime"></label>
                 <input type="text" name="loginTime" class="form-control" value="${obj.loginTime!}" placeholder="loginTime" required="">
             </div>
             <div class="form-group">
                 <label>imageId</label><label style="color: red;" id="msg-imageId"></label>
                 <input type="text" name="imageId" class="form-control" value="${obj.imageId!}" placeholder="imageId" required="">
             </div>
             <div class="form-group">
                 <label>classify</label><label style="color: red;" id="msg-classify"></label>
                 <input type="text" name="classify" class="form-control" value="${obj.classify!}" placeholder="classify" required="">
             </div>
    </form>
</div>