<div>
    <h4 id="msg" style="color: red;"></h4>
    <form id="formAuth" class="m-t" role="form" method="post">
              <input type="hidden" name="id" class="form-control" value="${obj.id!}">
             <div class="form-group">
                 <label>name</label><label style="color: red;" id="msg-name"></label>
                 <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="name" required="">
             </div>
             <div class="form-group">
                 <label>parentId</label><label style="color: red;" id="msg-parentId"></label>
                 <input type="text" name="parentId" class="form-control" value="${obj.parentId!}" placeholder="parentId" required="">
             </div>
             <div class="form-group">
                 <label>path</label><label style="color: red;" id="msg-path"></label>
                 <input type="text" name="path" class="form-control" value="${obj.path!}" placeholder="path" required="">
             </div>
             <div class="form-group">
                 <label>comments</label><label style="color: red;" id="msg-comments"></label>
                 <input type="text" name="comments" class="form-control" value="${obj.comments!}" placeholder="comments" required="">
             </div>
             <div class="form-group">
                 <label>state</label><label style="color: red;" id="msg-state"></label>
                 <input type="text" name="state" class="form-control" value="${obj.state!}" placeholder="state" required="">
             </div>
             <div class="form-group">
                 <label>sort</label><label style="color: red;" id="msg-sort"></label>
                 <input type="text" name="sort" class="form-control" value="${obj.sort!}" placeholder="sort" required="">
             </div>
             <div class="form-group">
                 <label>createUser</label><label style="color: red;" id="msg-createUser"></label>
                 <input type="text" name="createUser" class="form-control" value="${obj.createUser!}" placeholder="createUser" required="">
             </div>
             <div class="form-group">
                 <label>createTime</label><label style="color: red;" id="msg-createTime"></label>
                 <input type="text" name="createTime" class="form-control" value="${obj.createTime!}" placeholder="createTime" required="">
             </div>
             <div class="form-group">
                 <label>modifyUser</label><label style="color: red;" id="msg-modifyUser"></label>
                 <input type="text" name="modifyUser" class="form-control" value="${obj.modifyUser!}" placeholder="modifyUser" required="">
             </div>
             <div class="form-group">
                 <label>modifyTime</label><label style="color: red;" id="msg-modifyTime"></label>
                 <input type="text" name="modifyTime" class="form-control" value="${obj.modifyTime!}" placeholder="modifyTime" required="">
             </div>
             <div class="form-group">
                 <label>type</label><label style="color: red;" id="msg-type"></label>
                 <input type="text" name="type" class="form-control" value="${obj.type!}" placeholder="type" required="">
             </div>
    </form>
</div>