@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        测试类
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">测试类列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                               <th>createTime</th>
                               <th>actionUrl</th>
                               <th>descripts</th>
                               <th>createUser</th>
                               <th>logLevels</th>
                               <th>method</th>
                               <th>className</th>
                               <th>ip</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(result in results.resultList){
                        <tr>
                                   <th>${result.createTime}</th>
                                   <th>${result.actionUrl}</th>
                                   <th>${result.descripts}</th>
                                   <th>${result.createUser}</th>
                                   <th>${result.logLevels}</th>
                                   <th>${result.method}</th>
                                   <th>${result.className}</th>
                                   <th>${result.ip}</th>
                        </tr>
                        @}
                        </tbody>
                    </table>
                </div>
                <#PageTag action="${ctxPath}/log/sysapplog/list/" totalNum="${results.totalNum}" perSize="5" curPage="${curPage}"></#PageTag>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@}