
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">文章表列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="box-controls">
                        <button type="button" class="btn btn-default btn-header checkbox-toggle">
                            <i class="fa fa-square-o"></i>
                        </button>
                        <div class="btn-group">
                            <button name="添加" class="btn btn-default" onclick="Cms.add()">
                                <i class="fa fa-fw fa-plus"></i>添加
                            </button>
                            <button name="修改" class="btn btn-default" onclick="Cms.edit()" space="true">
                                <i class="fa fa-fw fa-edit"></i>修改
                            </button>
                            <button name="删除" class="btn btn-default" onclick="Cms.delete()" space="true">
                                <i class="fa fa-fw fa-trash-o"></i>删除
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive data-table-list">
                        <table id="data-list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                   <th>title</th>
                                   <th>abs</th>
                                   <th>author</th>
                                   <th>publicTime</th>
                                   <th>artType</th>
                                   <th>tagkey</th>
                                   <th>source</th>
                                   <th>topLevel</th>
                                   <th>artImgId</th>
                                   <th>artState</th>
                                   <th>createTime</th>
                                   <th>modifyTime</th>
                                   <th>createUsername</th>
                                   <th>createUser</th>
                                   <th>modifyUsername</th>
                                   <th>modifyUser</th>
                                   <th>writeAuthority</th>
                                   <th>readAuthority</th>
                                   <th>runinfoId</th>
                                   <th>module</th>
                                   <th>moduleFilterKey</th>
                                   <th>lastUpdateTime</th>
                                   <th>state</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <td></td>
                            @for(var i = 0; i< results.resultList.~size; i++){
                            <tr id="data-r${i}" data-u="${results.resultList[i].id}">
                                <td><input type="checkbox"></td>
                                       <td>${results.resultList[i].title}</td>
                                       <td>${results.resultList[i].abs}</td>
                                       <td>${results.resultList[i].author}</td>
                                       <td>${results.resultList[i].publicTime}</td>
                                       <td>${results.resultList[i].artType}</td>
                                       <td>${results.resultList[i].tagkey}</td>
                                       <td>${results.resultList[i].source}</td>
                                       <td>${results.resultList[i].topLevel}</td>
                                       <td>${results.resultList[i].artImgId}</td>
                                       <td>${results.resultList[i].artState}</td>
                                       <td>${results.resultList[i].createTime}</td>
                                       <td>${results.resultList[i].modifyTime}</td>
                                       <td>${results.resultList[i].createUsername}</td>
                                       <td>${results.resultList[i].createUser}</td>
                                       <td>${results.resultList[i].modifyUsername}</td>
                                       <td>${results.resultList[i].modifyUser}</td>
                                       <td>${results.resultList[i].writeAuthority}</td>
                                       <td>${results.resultList[i].readAuthority}</td>
                                       <td>${results.resultList[i].runinfoId}</td>
                                       <td>${results.resultList[i].module}</td>
                                       <td>${results.resultList[i].moduleFilterKey}</td>
                                       <td>${results.resultList[i].lastUpdateTime}</td>
                                       <td>${results.resultList[i].state}</td>
                                <td>
                                   <button name="修改" class="btn btn-default btn-sm" onclick="Cms.editOne(this)" space="true">
                                       <i class="fa fa-fw fa-edit"></i>
                                   </button>
                                   <button name="删除" class="btn btn-default btn-sm" onclick="Cms.deleteOne(this)" space="true">
                                       <i class="fa fa-fw fa-trash-o"></i>
                                   </button>
                               </td>
                            </tr>
                            @}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <#PageTag action="${ctxPath}/cms/cmsarticle/list.html" totalNum="${results.totalNum}" perSize="5"
                                        curPage="${curPage}" loadDataFunName="Cms.loadData"></#PageTag>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>