<style type="text/css">
    .box-controls {
        padding: 5px;
    }
    .btn-header {
        height: 34px;
    }
</style>
@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        文章类别
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<div id="data-list-content">
    @include("/CmsArticleTypetree/listContent.html"){}
</div>

<script src="${ctxPath}/static/silverbullet/js/silverbullet-cms.js"></script>
@}