
/**
基本样式
 */
.b-r{
    border-right:1px dashed #c9c9c9;
}
.b-l{
    border-left:1px dashed #c9c9c9;
}
.l-pd{
    padding-left:0;
}
.r-pd{
    padding-right:0;
}
.lr-pd{
    padding-left:0;
    padding-right:0;
}
.l-mr{
    margin-left: 0;
}
.r-mr{
    margin-right: 0;
}
.lr-mr{
    margin-right: 0;
    margin-right:0;
}
.font-red{
    color:red;
}
/*多选框width重置*/
.tb-cb-w{
    width:24px;
}

.tb-ope-w{
    width:100px;
}

.height-middle{
    vertical-align: middle!important;
}

.tb-w-60{
    width:60px;
}
.tb-w-70{
    width:70px;
}
.tb-w-90{
    width:90px;
}
.tb-w-120{
    width:90px;
}
.tb-w-200{
    width:200px;
}
.tb-w-360{
    width:360px;
}
.tb-w-240{
    width:240px;
}
.tb-w-120{
    width:120px;
}
.tb-w-170{
    width:170px;
}
.table{
    font-size:14px;
}

.ofg-font-size-normal{
    font-size:14px;
}

.ofg-radius{
    background: #555;
    border-radius: 15%;
    /*border: 1px solid #555;*/
    padding:1px 3px 1px 3px;
    font-size: 95%;
    font-weight:600;
    color:#fff;
}

.font-size-default{
    font-size:100%;
}

.width-full{
    width:100%;
}

.margin-bottom{
    margin-bottom:10px;
}

/**
文件上传控件样式重构
 */
#file_name{
    height: 34px;
}
a.input {
    width:100%;
    height:34px;
    line-height:34px;
    background:#3091d1;
    text-align:center;
    display:inline-block;/*具有行内元素的视觉，块级元素的属性 宽高*/
    overflow:hidden;/*去掉的话，输入框也可以点击*/
    position:relative;/*相对定位，为 #file 的绝对定位准备*/
}
a.input:hover {
    background:#31b0d5;
    color: #ffffff;
}
a{
    text-decoration:none;
    color:#FFF;
}
#artImgId {
    opacity:0;/*设置此控件透明度为零，即完全透明*/
    filter:alpha(opacity=0);/*设置此控件透明度为零，即完全透明针对IE*/
    font-size:100px;
    position:absolute;/*绝对定位，相对于 .input */
    top:0;
    right:0;
}

.margin-left-normal{
    margin-left:1em;
}



.ofg-button{
    width:100%;
    height:36px;
    background: #fff;
/*    border:1px solid #d2d6de;*/
    padding:11px;
    cursor: pointer;
    color:#fff;
    transition: background 0.3s;
    background: #337ab7;
}
.ofg-button:active{
    background: #31b0d5;
}

.ofg-button:hover{
    background: #31b0d5;
}


.float-l{
    float:left;
}

@media screen and (max-width: 500px){
    .float-r{
        float:inherit!important;
    }
}

.float-r{
    float:right;
}

.select{
    display: inline-block;
    height:34px;
    border-radius:3px;
    font-size:13px;
    color:#555;
    padding:6px 12px 6px 12px;
    width:48%;
}


.table-link{
    color:#333;
    cursor: pointer;
}
.table-link:hover{
    text-shadow: 0 0 1px #e65100;
    color:#e65100;
    text-decoration:underline;
}

.font-weight{
    font-weight: bold;
}
.point{
    cursor: pointer;
}

.input-point{
    cursor: pointer;
    text-align: center;
}

.box-tools{
    display: inline-block;
    height:22px;
}


.search-group{
    width:330px;
    display: inline-block;
}

.box-control{
    width:100%;
    height:auto;
    display: inline-block;
}

.inputVal{
    width:100%;
    height:34px;
    position: relative;
    top:0px;
    left:0;
    background: #e8e8e8;
    border:1px solid #e2e2e2;
    padding:6px;
    text-align: center;
    color:#959595;
    transition: background 0.3s, border 0.3s;
}
.inputVal:hover{
    border:1px solid #9b9b9b;
}

.inputVal:active{
    background: #a8a8a8;
    color:#fff;
}


.input-box{
    height:auto;
    width:100%;
}
.input-box input{
    position: relative;
    top:0;
    left:0;
}

.border{
    border:1px solid #e8e8e8;
}

.round{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 45%;
    margin-right:5px;

}

.round0{
    background: #d33724;
}
.round1{
    animation: round1 1.5s alternate infinite;
}
@keyframes round1{
    from{background: #e8e8e8;}
    to{background: #f39c12;}
}
.round2{
    background: #00a65a;
}

.border0{
    border-color: #d33724;
}
.border1{
    animation: border1 1.5s alternate infinite;
}
@keyframes border1{
    from{border-color: #e8e8e8;}
    to{border-color: #f39c12;}
}
.border2{
    border-color: #00a65a;
}
.bor{
    display: inline-block;
    width:auto;
    height:auto;
    padding:3px;
    border-radius: 3px;
}

.borUse0{
    border-color: #00a65a;
    /*color:#00a65a;*/
}
.borUse1{
    border-color: #d33724;
    /*color:#d33724;*/
}
select option{
    padding-top:10px;
    padding-bottom:10px;
}

table th{
    white-space: nowrap;
}
table td{
    white-space: nowrap;
}
table{
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}

.table-height{
    min-height: 255px;
}

.tr1{
    background: #e8e8e8;
}

.font-success{
    color:#008d4c;
}
.font-danger{
    color:#d43f3a;
}

.ofg-btn-icon{
    display: inline-block;
    padding:5px 6px;
    margin-buttom:0;
    font-size: 14px;
    text-align: center;
    white-space:nowrap;
    vertical-align: middle;
    border-radius: 3px;
    transition: background 0.3s, border-radius 0.3s, padding 0.3s;
    cursor: pointer;
    margin-bottom: 5px;
}

.ofg-btn-icon:hover{
    background: #e8e8e8;
}

.ofg-btn-icon:active{
    background: #c1bfbf;
}

.ofg-btn-border{
    height:40px;
    width:auto;
    text-align: center;
    vertical-align: middle;
}


.ofg-btn-icon i{
    font-size:1.3em;
}

.content .treeview{
    border-top: 1px solid #f4f4f4;
    padding-top:10px;
    height:auto;
    transition: height 0.3s;
}

.b-r-s{
    border-right:1px solid #e8e8e8;
}

.b-l-s{
    border-left:1px solid #e8e8e8;
}

.list-group-item{
    /*padding:8px 15px;*/
    font-size: 15px;
}

.iconTag{
    font-size:13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

i,button{
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.iconModule{
    display: inline-block;
    width:9%;
    text-align: center;
    margin:0.5%;
    float: left;
    background: #f2f2f2;
    cursor: pointer;
    transition: box-shadow 0.5s, border-radius 0.3s, border 0.3s;
}

.iconModule:hover{
    box-shadow: 0 2px 15px #ababab;
}

.iconModule:active{
    background: #ababab;
    color:#f2f2f2;
    border-radius: 3px ;

}

.iconModule div{
    display: inline-block;
    width:auto;
    height:auto;

}

.iconModule div i{
    font-size: 35px;
    line-height:150%;
}

.iconBorder{
    width:100%;
    border:1px solid #e8e8e8;
    background:#fff;
    overflow-y:scroll;
}

@media screen and (max-width: 500px){
    .iconModule{
        width:19%;
        border:1px solid #e8e8e8;
    }
}

#icon{
    font-size: 20px;
}


.icon-i{
    width:10%;
    height:34px;
    display: inline-block;
    float:right;
    text-align: center;
    background: #eee;
}

.icon-i i{
    line-height:34px;

}

#icon-input{
    cursor: auto;
    border:none;
}


.disabled{
    pointer-events: none;
    cursor: not-allowed;
}

.check-icon{
    animation-duration: 0.4s!important;
}
#serviceTypeTree ul li{
    z-index: 99;
}

#serviceTypeTree ul li:active{
    cursor: auto!important;
}

.edit-group{
    display: inline-block;
    width:auto;
    color:#333;
}

.edit-group span{
    display: inline-block;
    border-left:1px solid #fff;
    border-shadow: 0 0 20px #fff;
    margin: -3px 5px;
    margin-left:8px;
    text-align: right;
    padding:0 7px;
    transition: text-shadow 0.3s, border-radius 0.3s;
}

.edit-group span:hover{
    text-shadow: 0 0 10px #fff;
}


#treeCon{
    transition: width 0.3s;
}
#listCon{
    transition: width 0.3s;
    z-index:99;
    position:relative;
}


.layer{
    background: rgba(255,255,255,.8);
    left:0;
    top:0;
    /*filter: blur(10px);*/
    cursor: not-allowed;
}

.treeview span.icon{
    margin-left: 5px;
}
.treeview span.check-icon{
    margin-right: 10px!important;
    color:#009688;
    font-size: 19px;
    vertical-align: bottom;
}

.modelTree{
    max-height: 40%;
    overflow-y: auto;
}

@media (min-width: 992px){
    .setUserButton{
        max-width:157px!important;
    }
}
.setUser{
    min-width:157px;

}

.fadeInCon{
     /*animation-duration:.3s!important;*/
 }


.searchGroup_search{
    width:290px;
    float: left;
}

@media (max-width: 767px){
    .searchGroup_search{
        width:85%;
    }
    .search-group{
        width:100%;
    }
}


#missionChart{
    width:100%;
    height:auto;
}


#missionChart .charts{
    width:100%;
    height:650px;
    background: #fff;
    padding:30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.swiper-wrapper div{
    float:right;
}


#toolBar{
    height:100%;
    background: #e8e8e8;
    width:10%;
}

#missionChart .charts #chartSZ{
    width:60%;
    height:100%;
}

#missionChart .charts #chartB{
    width:30%;
    height:100%;
}



#missionChart .controller{
    width:100%;
    height:100px;
    background: #fff;
    border-top:1px solid #f4f4f4;
}


.NodeEditIcon{
    animation-duration: 0.4s!important;
    display: inline-block;
    padding:3px 7px;
    transition: all .3s, box-shadow 0s;
    color:#333;
    text-shadow:none;
    border:1px solid #808080;
}


.NodeEditIcon:hover{
    background: #009688;
    color:#f2f2f2;
    border-color:#009688;
}


.NodeEditIcon:active{
    /*box-shadow: 0 0 15px rgba(0,0,0,.7) inset;*/
}

.NodeEditList{
    position:absolute;
    vertical-align: top;
    font-size: 19px;
    display: inline-block;
    z-index: 999;
    top:8px;
    right:10px;
    animation-duration: 0.4s!important;
    background: #e0e0e0;
    border-radius: 3px;
}

.NodeEdit{
    position:absolute;
    vertical-align: top;
    font-size: 19px;
    display: inline-block;
    z-index: 999;
    top:8px;
    right:10px;
    animation-duration: 0.4s!important;
    background: #e0e0e0;
    border-radius: 3px;
}


.NodeEditList span{
    float: left;
}


.NodeEditList span.icon-left{
    border-right:none;
    border-radius: 3px 0 0 3px;
}


.NodeEditList span.icon-right{
    border-radius: 0 3px 3px 0;
}

.unClick{
    background: #808080!important;
    color: #ffffff !important;
    /*box-shadow: 0 0 15px rgba(0,0,0,.7) inset!important;*/
    cursor:not-allowed;
    border-color:#808080!important;
}

.box-controls {
    /*padding: 5px;*/
}


@media (max-width: 767px){
    .content-wrapper{
        margin-top:50px;
    }

    .main-footer{
        width:100%;
        position: fixed;
        bottom: 0;
        display:none!important;
    }
}

.search_gp_input{
    width: 80%;
    display: inline-block;
}

.search_gp_select{
    width: 80%;
    display: inline-block;
}

.search_gp_btn_reset{
    margin-left: 20px;
    background-color: #337ab7;
    color: #fff;
}
.search_gp_search{
    width: 10%;
    min-width: 40px;
    float: right;
    border: 1px solid #d2d6de;
    border-left: 0;
    text-align: right;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.search_gp_i_position{
    padding:8px 15px 8px 8px;
    font-size: 1.2em;
    color: #777;
}

.search_gp_input_position{
    width: 95%;
    border-right: 0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;

}

.search_gp_title{
    text-align: right;
    padding-right: 0px;
    width: 4%;
    min-width: 65px;
    float: left;
}

.search_gp_three{
    padding: 8px;
    padding-right: 0px;
}

.search_gp_narrow{
    float: right;
    display: none
}

.search_gp_div_input{
    padding-left: 0px;
    display: flex;
    width: 20%;
    float: right;
}

.search_gp_div_hide{
    display:none;
}


.search_gp_span_big{
    display: inline-block;
    width: 25%;
    text-align: right;
    min-width: 45px;
}

.search_gp_div_input_narrow{
    width: 200px;
    float: left;
    display: flex;
    align-items: center;
}

.search_gp_div_input_small{
    width: 150px;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search_gp_div_input_big{
    width: 300px;
    float: left;
    display: flex;
    align-items: center;
}

.search_gp_div_button{
    float: left;
}

.search_gp_head{
    padding: 5px;
    border-bottom: 1px solid #f4f4f4;
}

.search_gp_div_input .form-control{
    border-color:#d2d6de!important;
}

.form-horizontal div{
    margin:8px 0;
}

.disNone{
    display: none!important;
}

.logo-black{
    background: #222d32!important;
    color: #ffffff!important;
    border-right:1px solid #222d32!important;
}

.navbar-material a{
    border:none!important;
}

.content-wrapper{
    background: #f2f2f2!important;
}