/**
屏幕低于767px
 */
@media (max-width: 767px) {
    #missionChart .controller{
        display: none;
    }


    #missionChart .charts{
        width:100%!important;
        background: none;
        padding:0;
    }



    #missionChart .charts #chartB{
        width:100%!important;
        background: #e8e8e8;
    }

    #missionChart .charts #chartSZ {
        width:100%!important;

    }
    #toolBar{
        background: #fff;
        width:100%;
        height:50px;
        position: fixed;
        bottom: 0;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
    }

    html,body,#content{
          margin: 0;
          padding: 0;
          height: 100%!important;
      }

    .dropdown-menu{
        width:100%!important;
        border: 0!important;
        padding: 0!important;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1)!important;
    }
    .dropdown-menu li[class='user-header']{
        background: #fff!important;
    }
    .dropdown-menu li[class='user-header'] img{
        border-color: #333!important;
        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    }
    .dropdown-menu li[class='user-header'] p{
        color: #000!important;
    }



}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li > a {
        padding-bottom: 15px!important;
    }
}