<div class="row">
    <form id="modelIcon">
        <div class="col-md-12">
            <div class="form-group">
                <label>图标名称：</label><label style="color: red;" id="msg-typeName"></label>
                <div style="width:100%; display: inline-block; height:34px;" >
                    <div style="width:90%; display: inline-block; float:left;"><input type="text" name="iconName" id="icon-input" class="form-control" value="" placeholder="输入类型名称" readonly="readonly"></div>
                    <div class="icon-i"><i id="icon" class=""></i></div>
                </div>

            </div>
            <div class="iconBorder">
                @for(var i = 0; i< results.resultList.~size; i++){
                    <div class="iconModule"><div><i class="${results.resultList[i].iconName}"></i></div></div>
                @}

            </div>
        </div>
    </form>
</div>
<script>
    jQuery(document).ready(function(){
        data.icon();
        $(".iconModule").on("click", function(){
            data.iconChange(this);
        });
    });
</script>