<div class="row">
    <h4 id="msg" style="color: red;"></h4>
    <form id="formBlackList" class="m-t" role="form" method="post">
        <div class="col-xs-12">
            <input type="hidden" name="id" class="form-control" value="${obj.id!}">
            <div class="form-group">
                <label>客户状态：<span class="font-red">*</span></label><label style="color: red;" id="msg-blackList"></label>
                <select name="blackList" class="form-control" ${disabled}>
                    <option value="${obj.blackList!}" style="display: none;">${obj.blackList==0?"良好":"黑名单"}</option>
                    <option value="0">良好</option>
                    <option value="1">黑名单</option>
                </select>
            </div>
        </div>
    </form>
</div>