@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        机构管理
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">机构管理列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                               <th>id</th>
                               <th>ctime</th>
                               <th>etime</th>
                               <th>cusername</th>
                               <th>cuser</th>
                               <th>eusername</th>
                               <th>euser</th>
                               <th>pstate</th>
                               <th>organizationid</th>
                               <th>name</th>
                               <th>extendis</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(result in results.resultList){
                        <tr>
                                   <th>${result.id}</th>
                                   <th>${result.ctime}</th>
                                   <th>${result.etime}</th>
                                   <th>${result.cusername}</th>
                                   <th>${result.cuser}</th>
                                   <th>${result.eusername}</th>
                                   <th>${result.euser}</th>
                                   <th>${result.pstate}</th>
                                   <th>${result.organizationid}</th>
                                   <th>${result.name}</th>
                                   <th>${result.extendis}</th>
                        </tr>
                        @}
                        </tbody>
                    </table>
                </div>
                <#PageTag action="${ctxPath}/auth/sysauthpost/list/" totalNum="${results.totalNum}" perSize="5" curPage="${curPage}"></#PageTag>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@}