<div>
    <h4 id="msg" style="color: red;"></h4>
    <form id="formAuth" class="m-t" role="form" method="post">
              <input type="hidden" name="id" class="form-control" value="${obj.id!}">
             <div class="form-group">
                 <label>name</label><label style="color: red;" id="msg-name"></label>
                 <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="name" required="">
             </div>
             <div class="form-group">
                 <label>createUsername</label><label style="color: red;" id="msg-createUsername"></label>
                 <input type="text" name="createUsername" class="form-control" value="${obj.createUsername!}" placeholder="createUsername" required="">
             </div>
             <div class="form-group">
                 <label>createUser</label><label style="color: red;" id="msg-createUser"></label>
                 <input type="text" name="createUser" class="form-control" value="${obj.createUser!}" placeholder="createUser" required="">
             </div>
             <div class="form-group">
                 <label>createTime</label><label style="color: red;" id="msg-createTime"></label>
                 <input type="text" name="createTime" class="form-control" value="${obj.createTime!}" placeholder="createTime" required="">
             </div>
             <div class="form-group">
                 <label>modifyUsername</label><label style="color: red;" id="msg-modifyUsername"></label>
                 <input type="text" name="modifyUsername" class="form-control" value="${obj.modifyUsername!}" placeholder="modifyUsername" required="">
             </div>
             <div class="form-group">
                 <label>modifyUser</label><label style="color: red;" id="msg-modifyUser"></label>
                 <input type="text" name="modifyUser" class="form-control" value="${obj.modifyUser!}" placeholder="modifyUser" required="">
             </div>
             <div class="form-group">
                 <label>modifyTime</label><label style="color: red;" id="msg-modifyTime"></label>
                 <input type="text" name="modifyTime" class="form-control" value="${obj.modifyTime!}" placeholder="modifyTime" required="">
             </div>
             <div class="form-group">
                 <label>state</label><label style="color: red;" id="msg-state"></label>
                 <input type="text" name="state" class="form-control" value="${obj.state!}" placeholder="state" required="">
             </div>
             <div class="form-group">
                 <label>organizationId</label><label style="color: red;" id="msg-organizationId"></label>
                 <input type="text" name="organizationId" class="form-control" value="${obj.organizationId!}" placeholder="organizationId" required="">
             </div>
             <div class="form-group">
                 <label>isExtends</label><label style="color: red;" id="msg-isExtends"></label>
                 <input type="text" name="isExtends" class="form-control" value="${obj.isExtends!}" placeholder="isExtends" required="">
             </div>
    </form>
</div>