@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        功能管理
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Silver Bullet</a></li>
        <li><a href="#"><i class="fa fa-files-o"></i>系统管理</a></li>
        <li class="active"><a href=""><i class="fa fa-circle-o"></i>菜单管理</a></li>
    </ol>
</section>

<!-- Main content -->
<div id="data-list-content">
    @include("/SysAuthAction/listContent.html"){}
</div>
<script type="text/javascript" src="${ctxPath}${beetlfn.getForLookupPath('/static/jquery/treegrid/js/jquery.treegrid.extension.ajax.js')}"></script>
<script src="${ctxPath}${beetlfn.getForLookupPath('/static/sysAuthAction/AuthAction.js')}"></script>
@}