<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silverbullet.auth.dao.SysAuthUserPostMapper">
  <resultMap id="BaseResultMap" type="com.silverbullet.auth.domain.SysAuthUserPost">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="post_id" jdbcType="VARCHAR" property="postId" />
  </resultMap>

  <sql id="Base_Column_List">
    id,user_id,post_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_auth_userpost
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_auth_userpost
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.silverbullet.auth.domain.SysAuthUserPost">
    insert into sys_auth_userpost (id,user_id,post_id)
    values (#{id,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{postId,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.silverbullet.auth.domain.SysAuthUserPost">
    insert into sys_auth_userpost
    <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
               id ,
        </if>
        <if test="userId != null">
               user_id ,
        </if>
        <if test="postId != null">
               post_id ,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=VARCHAR},
         </if>
        <if test="userId != null">
            #{userId,jdbcType=VARCHAR},
         </if>
        <if test="postId != null">
            #{postId,jdbcType=VARCHAR},
         </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.silverbullet.auth.domain.SysAuthUserPost">
    update sys_auth_userpost
    <set>
        <if test="id != null">
         id = #{id,jdbcType=VARCHAR},
        </if>
        <if test="userId != null">
         user_id = #{userId,jdbcType=VARCHAR},
        </if>
        <if test="postId != null">
         post_id = #{postId,jdbcType=VARCHAR},
        </if>
    </set>
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.silverbullet.auth.domain.SysAuthUserPost">

    update sys_auth_userpost
    set id = #{id,jdbcType=VARCHAR},user_id = #{userId,jdbcType=VARCHAR},post_id = #{postId,jdbcType=VARCHAR}
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_auth_userpost
  </select>

  <select id="countNum" resultType="Integer">
    select count(*) from sys_auth_userpost
  </select>

</mapper>